.post-item {
  display: flex;
  justify-content: center;
  .post-title {
    font-size: 18px;
  }
  flex: 1;
  width: 85%;
  .post-tag {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .post-item {
    width: 100%;
    /* Adjust styles for smaller screens */
    .post-title {
      font-size: 12px;
    }
    .post-tag {
      font-size: 8px;
    }
  }
}

@media screen and (max-width: 576px) {
  .post-item {
    /* Further adjustments for even smaller screens */
  }
}
