:root {
  --content-nav-background: #0b1a33 !important;
}

ul {
  list-style-type: none;
}

/* .ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block;
  flex: 1;
  text-align: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
} */
