.container {
  width: 80% !important;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 50px;

  .title {
    font-size: 40px;
  }
  .content {
    max-width: 100%;
    text-wrap: wrap;
    img {
      max-width: 100%;
    }
  }
}

.avatar-wrapper {
  position: fixed;
  margin-left: -80px;
  margin-top: 30px;

  :hover {
    cursor: pointer;
  }
}
.reply-comment {
  width: 90%;
  margin-left: 10%;
}

.comment-wrapper {
  border: 1px solid #ddd;
  padding: 20px 24px;
  &.reply {
    padding: 20px 0;
    border: none;
    width: 90%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .avatar-wrapper {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
